.heading{
    width: 100%;
    text-align: left;
}

.heading button{
    float:right;
    border: 1px solid #ffffff;
}

.heading h3{
    display: inline;
}


#start,#status,#restart{
    font-size: 18px;
}

.modal-dialog{
    width: 90%;
}

.instructions{
    width: 45%;
}

#credits{
    background-color: white;
    line-height: 40px;
    margin: 0px;
}